/*
 * Globals
 */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/
  background-image: url("../assets/BG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Sulphur Point', sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 95%;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: center;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  margin-bottom: 3%;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  
}

.ftr {
  margin-top: 4%;
  font-size: 12px;
}

.img-fluid {
  
  max-width: 100%;
  height: auto;
}

.img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.rounded-circle {
  border-radius: 50% !important;
}

.mb-2,
.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 0.5rem !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.thumb {
  width: 100%;
  height: 25%;
  background:  rgba(255, 255, 255, 0.1);
  border: 0.01px solid rgba(255, 255, 255, 0.05); 
  margin: 0.5rem;
  padding: 0;
  border-radius: 6px;
  cursor: pointer;
}

.thumb:hover {
  transition: 0.3s;
  border: 0.5px solid white;
  background:  rgba(255, 255, 255, 0.2);
}

.title {
  height: 30px;
  text-align: center;
  background:gray;
  bottom: 0;
}

.pfcontainer {
  margin: auto;
  width: 100%;
}

.stcontainer {

  width: 100%;
  margin-top: 3%;
}


.card-text {
  font-size: 1.5vw;
}


.nail {
  background-color:  rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

.nail:hover {
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.custom-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.img-title {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.iconimg {
  margin: 5px;
  max-width: 50px;
  max-height: 50px;
}

.grouplink {
  margin-top: 1%;
  margin-bottom: 2%;
  display: inline-flex;
  width: 225px;
  justify-content: space-between;
}

a.toplink:link {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  /*padding: 12px 12.5px;
  text-align: center;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
}

a.toplink:link .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

a.toplink:link i {
  vertical-align: middle;
  font-size: 1.25em;
}

a.toplink:hover {
  transition: 0.3s;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

h4 {
  margin-bottom: 2%;
}

.popup {
  max-width: 1280px;
}

.modal-dialog {
  width: 100%;
}

/* The Modal (background) */
.mdl {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.mdl-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */


/* Add Animation - Zoom in the Modal */
.mdl-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .mdl-content {
    width: 100%;
  }
}